{% extends 'base.html' %}


{% block content %}

{% ifequal typ "success" %}

<div class="alert alert-success mt-5" style="text-align: center;">

            <div class="">&#9786;</div>{{error.0}}
            <a class="btn btn-success" href="{% url 'transfer:transfer' %}">Apply for Transfer Here</a>
            
            <ul style="list-style-type: none;">
                <li><strong>{{error.1}}</strong></li>
                <li><strong>Your transaction mode is {{ mode }}</strong></li>
            <li><strong>Your transaction reference number is {{ txnid }}</strong></li>
            <li><strong>Your order list contains {{error.2}}</strong></li>
            <li><strong>Amount: {{amnt}}</strong></li>
                <li><strong>Date and time of transaction: {{date}}</strong></li>

              </ul>
              

    </div>
{% endifequal %}

{% endblock %}